.section {
    background: hsl(var(--bg-secondary));
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.error.section input {
    outline: 2px solid hsla(var(--attention), 80%);
}

.content {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

.title {
    color: hsl(var(--text-primary));
    font-size: 45px;
    line-height: 130%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.form {
    width: 614px;
    display: flex;
    flex-flow: column nowrap;
    gap: 44px;
}

.fields {
    display: flex;
    flex-flow: column nowrap;
    gap: 28px;
}

.forgot {
    color: hsl(var(--text-grey));
    font-size: 14px;
    align-self: flex-end;
}

.button {
    text-transform: uppercase;
    padding: 20px 28px;
    align-self: stretch;
}

@media (max-width: 1279px) {
    .form {
        width: 470px;
    }
}

@media (max-width: 599px) {
    .section {
        padding: 0 16px;
    }
    .content {
        align-self: stretch;
    }
    .title {
        font-size: 25px;
        text-transform: none;
    }
    .form {
        width: auto;
    }
}