.control {
    background: hsl(var(--border-secondary));
    display: grid;
    grid-auto-flow: column;
    gap: 2px;
    padding: 2px;
    border-radius: 20px;
    box-shadow: 0px 2px 0px 0px hsla(var(--dark-blue), 5%) inset, 0px 1px 0px 0px hsla(var(--dark-blue), 5%) inset;
}

.fit {
    grid-auto-columns: auto;
}

.grid {
    grid-auto-columns: 1fr;
}