
.monologue {
    background: hsl(var(--bg-secondary));
    border-radius: 20px;
    width: 522px;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding: 28px;
}

.image {
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.title {
    color: hsl(var(--text-primary));
}

.subtitle {
    color: hsl(var(--text-secondary));
}

@media (max-width: 799px) {
    .monologue {
        width: auto;
        gap: 12px;
        padding: 16px;
    }
}