.social {
    width: 48px;
    height: 48px;
    user-select: none;
}
div.social {
    color: white;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 50%, hsl(var(--icon-primary)) 0px,  hsl(var(--icon-primary)) 23px, transparent 24px);
}

@media (max-width: 799px) {
    .social {
        width: 40px;
        height: 40px;
    }
    div.social {
        background: radial-gradient(circle at 50%, hsl(var(--icon-primary)) 0px,  hsl(var(--icon-primary)) 19px, transparent 20px);
    }
}