.footer {
    color: hsl(var(--text-secondary));
}

.top {
    background: hsl(var(--bg-secondary));
    border-top: 1px solid hsl(var(--border-primary));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    gap: 80px;
    padding: 60px 80px;
}

.bottom {
    background: hsl(var(--bg-primary));
    border-top: 1px solid hsl(var(--border-primary));
    display: grid;
    grid-template-columns: max-content auto;
    gap: 80px;
    padding: 60px 80px;
}

.section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column dense;
    grid-auto-columns: 1fr;
    gap: 13px 80px;
}

.section:last-child {
    width: 200px;
    grid-row: 1 / 2;
}

.section li:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.contactsContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 32px;
}


.contacts {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    gap: 12px;
}

.socials {
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
}

.social {
    width: 48px;
}

.column {
    grid-row: 2 span;
    display: flex;
    flex-flow: column nowrap;
    gap: 28px;
}

.navigation,
.description {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

@media (min-width: 800px) {
    .section:last-child {
        width: 200px;
        grid-row: 1 / 2;
    }
    
    .section li:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

@media (max-width: 799px) {
    .top,
    .bottom {
        padding: 32px 20px;
    }
    .top {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .column {
        gap: 12px;
    }
    .bottom,
    .section {
        display: flex;
        flex-flow: column nowrap;
        gap: 12px;
    }
    .contactsContainer {
        gap: 12px;
    }
    .contacts {
        gap: 12px;
    }
    .social {
        width: 40px;
    }
}
