.field {
    display: grid;
    grid-template-columns: auto 56px;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}

.field input {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.eye {
    background: transparent var(--24-eye-icon) no-repeat center center;
    width: 24px;
    aspect-ratio: 1 / 1;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}